<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    {{> ../partials/header about=true}}

    <div class="content">
        <h1 class="title">About page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veniam possimus, laudantium error sunt unde dolore alias aspernatur quasi, iusto reprehenderit? Voluptatum in dolor eveniet officiis deserunt ab veritatis distinctio eligendi rerum suscipit, hic soluta, ducimus sit atque blanditiis tempore accusantium dolore explicabo assumenda nesciunt esse, animi delectus. Molestiae sed eveniet aut voluptate illum a perspiciatis qui nulla nam accusantium explicabo non quo tenetur doloribus, consequuntur, libero rerum adipisci sit sequi fugiat. Tempore placeat exercitationem eius iste natus eos, nobis eligendi nostrum? Optio illum, perspiciatis sapiente, delectus consequatur voluptas obcaecati sint accusamus adipisci consectetur esse quod labore fugiat iusto nam.
        </p>
    </div>
    
</body>
</html>