{{! This handlebars partial requires src/assets/sass/photo-gallery.scss }}
<aside class="dependencies">
  <div class="photo-gallery">
    <div
      class="card"
      style="background: #F6931F; background-image: url('../assets/images/handlebars_logo.png');"
    >
      Handlebars
    </div>
    <div
      class="card"
      style="background-image: url('../assets/images/webpack_logo.png')"
    >
      Webpack
    </div>
    <div
      class="card"
      style="background-image: url('../assets/images/sass_logo.png')"
    >
      Sass
    </div>
  </div>
</aside>