<div class="header-container">
  <ul class="header">
    <li>
      <a href="/" class="{{#if home}}current-route{{/if}}">Home</a>
    </li>
    <li>
      <a href="/about" class="{{#if about}}current-route{{/if}}">About</a>
    </li>
  </ul>
</div>