@import "variables";

.header-container {
  height: $header-height;
  padding: 0.5rem 20%;
  margin: 0 auto;
  position: relative;
  background-color: #0d4b87;

  display: flex;
  align-items: center;

  ul.header {
    display: flex;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;

    > li {
      > a {
        color: #fff;
        padding: 0 0.5rem;
        text-decoration: none;
        font-size: 1.2em;
        &.current-route {
          color: yellow;
        }
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}